@tailwind base;
@tailwind components;
@tailwind utilities;

.appvide{
  display: flex;
  align-items: center;
}

.appcanvas{
  position: absolute;
  top: -24px
}

.myapp{
  display: flex;
  width: 1063px;
  height: 1890px;
  flex-direction: column;
  align-items: center;
  border: 1px solid red ;
  /* justify-content: space-between; */
}